/*body{
    background-image: url("https://joindiaspora.com/camo/c8ddc6250cf55b16506c88fd8a7ed41a3c017375/687474703a2f2f32342e6d656469612e74756d626c722e636f6d2f74756d626c725f6d65397a373630635a3631717a747168326f315f313335343233363035395f636f7665722e706e67")
}*/

.alert {
    float:right;
}

.primary {
    float:right;
}

.promoted {
    background:rgba(255, 255, 0, .3);
    font-size: 20px;
}

#flick-list > li{
    height: 40px;
    margin: 40px;   
    width: 700px;
    list-style-type: none;

}