.alert {
    float:right;
}

.primary {
    float:right;
}

.promoted {
    background:rgba(255, 255, 0, .3);
    font-size: 20px;
}

#flick-list > li{
    height: 40px;
    margin: 40px;   
    width: 700px;
    list-style-type: none;

}