body{
    color: black;

    background: red; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, turquoise, green); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,turquoise, green);
}
#goldBlum{
    color: black;
    float: middle;
}

#addFlickButton{
    border: 0;
    padding: 10px;
    color: black;
    background: #FFD700;
}

.alert {
    float:right;
}

.warning {
    float:right;
}

.success{
    float:right;
}

.primary {
    float:right;
}

.promoted {
    background:#FFD700;
    font-size: 20px;
    color: black;
}

#flick-list > li{
    height: 40px;
    margin: 40px;   
    width: 700px;
    list-style-type: none;

}